*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Lexend', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container{
    width: 400px;
    height: min-content;
    /* background-color: #fff; */
    background-image: url(images/bg7.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    padding: 28px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    /* background-color: #e6f5fb; */
    background: rgba(255, 255, 255, 0.4);
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: #000;
}

.search-box button{
    width: 46px;
    height: 46px;
    /* background-color: #e6f5fb; */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: #fff;
    background-color: #594A69;
}

.weather-body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    display: none;
}
.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
    color: lightsteelblue;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: lightsteelblue;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
    color: lightsteelblue;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: #c7bcbc;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}